.main-content{
  width: 100%;
}

.banner{
  background-color: $primary-color;
  padding-bottom: 2.5em;
}

.banner-image-container{
  max-width: 33.75em;
  margin: 0 auto;
  padding-left: 2.5em;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner-text-container{
  width: 100%;
  margin-top: 2.5em;
  padding: 0 2.5em;

  h1{
    font-weight: 800;
    font-size: 3.12em;
    color: $clear-color;
  }

  p{
    color: $clear-color;
    margin-top: 1.25em;
    line-height: 1.4;
  }

  button{
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    font-weight: bold;
    color: $golden-color;
    padding: 0.5em 1.25em;
    margin-top: 2.5em;
    border-radius: 0.25em;
    background-color: transparent;
    border: 0.12em solid $golden-color;
    cursor: pointer;
    transition: all .4s;
  }

  button:hover{
    background-color: $golden-color;
    color: $primary-color;
  }
}

.banner-nav-container{
  margin-top: 2.5em;
  display: flex;
  align-items: center;
  gap: 1.12em;

  i{
    font-size: 2.12em;
    color: $golden-color;
    cursor: pointer;
    transition: all .2s;
  }

  i:hover{
    transform: scale(1.2);
  }
}

@media screen and (min-width: 60em){
  .banner{
    padding: 0 2.5em 2.5em;
  }

  .banner-image-container{
    grid-column: 2;
    grid-row: 1;
    margin-right: 0;
  }

  .banner-text-container{
    grid-column: 1;
    grid-row: 1;
    max-width: 26.25em;
    position: relative;
    padding: 0 0;
  }

  .banner-nav-container{
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .banner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 100em;
    margin: 0 auto;
  }
}

.about{
  background-color: $secondary-color;
  padding: 2.5em;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image-container{
  max-width: 21.87em;

  img{
    width: 100%;
    height: 100%;
  }
}

.about-text-container{
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 21.87em;

  h2{
    font-size: 2.25em;
    font-weight: bold;
    color: $primary-color;
  }

  p{
    font-weight: 500;
    margin-top: 1.25em;
    color: $primary-color;
    line-height: 1.4;
  }
}

@media screen and (min-width: 60em){
  .about-container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 87.5em;
    margin: 0 auto;
  }

  .about-image-container{
    max-width: 25em;
  }
}

@media screen and (min-width: 75em){
  .about-image-container{
    max-width: 35.62em;
  }
}

.products{
  width: 100%;
  padding: 2.5em;
  background-color: $tertiary-color;

  h2{
    font-size: 2.25em;
    font-weight: bold;
    color: $primary-color;
    text-align: center;
  }
}

.products-position{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  margin-top: 2.5em;
}

.products-container{
  background-color: $clear-color;
  border-radius: 0.25em;
  overflow: hidden;
}

.products-image-container{
  max-width: 17.5em;

  img{
    width: 100%;
  }
}

.products-text-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  font-weight: bold;
  
  span{
    background-color: $red-color;
    padding: 0.25em 1.25em;
    border-radius: 0.25em;
    color: $white-color;
  }
}

@media screen and (min-width: 55em){
  .products-position{
    flex-direction: row;
    justify-content: center;
  }
}

.map-content{
  width: 100%;
}

.footer-bottom{
  padding: 2.5em 0.5em;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25em;

  p{
    font-size: 0.5em;
    font-weight: bold;
    color: $white-color;
  }
}

.footer-nav{
  display: flex;
  gap: 0.87em;

  i{
    font-size: 1em;
    color: $white-color;
    transition: color .4s;
  }

  i:hover{
    color: $golden-color;
  }
}

@media screen and (min-width: 31.25em){
  .footer-bottom{
    p{
      font-size: 0.87em;
    }
  }

  .footer-nav{
    i{
      font-size: 1.25em;
    }
  }
}