*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@import 'partials/color';
@import 'partials/header';
@import 'partials/_layout.scss';

body{
  font-family: 'Playfair Display', serif;
  width: 100%;
  height: 100vh;
}