* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.header-top {
  width: 100%;
  height: 4.37em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.header-logo {
  width: 5em;
  height: 3.75em;
}
.header-logo img {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
}

.banner {
  background-color: #1B1107;
  padding-bottom: 2.5em;
}

.banner-image-container {
  max-width: 33.75em;
  margin: 0 auto;
  padding-left: 2.5em;
}
.banner-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-text-container {
  width: 100%;
  margin-top: 2.5em;
  padding: 0 2.5em;
}
.banner-text-container h1 {
  font-weight: 800;
  font-size: 3.12em;
  color: #E9E9E9;
}
.banner-text-container p {
  color: #E9E9E9;
  margin-top: 1.25em;
  line-height: 1.4;
}
.banner-text-container button {
  font-family: "Playfair Display", serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #FFA822;
  padding: 0.5em 1.25em;
  margin-top: 2.5em;
  border-radius: 0.25em;
  background-color: transparent;
  border: 0.12em solid #FFA822;
  cursor: pointer;
  transition: all 0.4s;
}
.banner-text-container button:hover {
  background-color: #FFA822;
  color: #1B1107;
}

.banner-nav-container {
  margin-top: 2.5em;
  display: flex;
  align-items: center;
  gap: 1.12em;
}
.banner-nav-container i {
  font-size: 2.12em;
  color: #FFA822;
  cursor: pointer;
  transition: all 0.2s;
}
.banner-nav-container i:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 60em) {
  .banner {
    padding: 0 2.5em 2.5em;
  }
  .banner-image-container {
    grid-column: 2;
    grid-row: 1;
    margin-right: 0;
  }
  .banner-text-container {
    grid-column: 1;
    grid-row: 1;
    max-width: 26.25em;
    position: relative;
    padding: 0 0;
  }
  .banner-nav-container {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .banner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 100em;
    margin: 0 auto;
  }
}
.about {
  background-color: #EFDFC5;
  padding: 2.5em;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image-container {
  max-width: 21.87em;
}
.about-image-container img {
  width: 100%;
  height: 100%;
}

.about-text-container {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 21.87em;
}
.about-text-container h2 {
  font-size: 2.25em;
  font-weight: bold;
  color: #1B1107;
}
.about-text-container p {
  font-weight: 500;
  margin-top: 1.25em;
  color: #1B1107;
  line-height: 1.4;
}

@media screen and (min-width: 60em) {
  .about-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 87.5em;
    margin: 0 auto;
  }
  .about-image-container {
    max-width: 25em;
  }
}
@media screen and (min-width: 75em) {
  .about-image-container {
    max-width: 35.62em;
  }
}
.products {
  width: 100%;
  padding: 2.5em;
  background-color: #DCB288;
}
.products h2 {
  font-size: 2.25em;
  font-weight: bold;
  color: #1B1107;
  text-align: center;
}

.products-position {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  margin-top: 2.5em;
}

.products-container {
  background-color: #E9E9E9;
  border-radius: 0.25em;
  overflow: hidden;
}

.products-image-container {
  max-width: 17.5em;
  overflow: hidden;
}
.products-image-container img {
  width: 100%;
  transition: all 0.2s;
}

.products-container:hover img {
  transform: scale(1.1);
}

.products-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  font-weight: bold;
}
.products-text-container span {
  background-color: #D94140;
  padding: 0.25em 1.25em;
  border-radius: 0.25em;
  color: #FFF;
}

@media screen and (min-width: 55em) {
  .products-position {
    flex-direction: row;
    justify-content: center;
  }
}
.map-content {
  width: 100%;
}

.footer-bottom {
  padding: 2.5em 0.5em;
  background-color: #1B1107;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
}
.footer-bottom p {
  font-size: 0.5em;
  font-weight: bold;
  color: #FFF;
}

.footer-nav {
  display: flex;
  gap: 0.87em;
}
.footer-nav i {
  font-size: 1em;
  color: #FFF;
  transition: color 0.4s;
}
.footer-nav i:hover {
  color: #FFA822;
}

@media screen and (min-width: 31.25em) {
  .footer-bottom p {
    font-size: 0.87em;
  }
  .footer-nav i {
    font-size: 1.25em;
  }
}
body {
  font-family: "Playfair Display", serif;
  width: 100%;
  height: 100vh;
}/*# sourceMappingURL=style.css.map */